* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
input {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}
input:focus {
  border: 1px solid #080808;
  outline: 1px solid blue;
}
button {
  cursor: pointer;
  color: white;
}

.container {
  width: fit-content;
  margin: 40px auto;
}
.container .heading {
  margin-bottom: 20px;
  text-align: center;
}
.controller {
  display: flex;
  column-gap: 10px;
}
.search-task {
  width: fit-content;
  position: relative;
}
.input-search-task {
  width: 600px;
}
.btn-search {
  position: absolute;
  right: 10px;
  top: 50%;
  border-radius: 4px;
  transform: translateY(-50%);
  padding: 14px 18px;
  color: white;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-add {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: green;
  color: white;
}
.btn-add:hover {
  background-color: rgb(0, 83, 0);
}
.list-tasks {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 14px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}
.task .task-controller button {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
.task-controller .btn-delete {
  background-color: red;
}
.task-controller .btn-edit {
  background-color: blue;
}
.task-controller .btn-done {
  background-color: #ccc;
}
.list-tasks-done .task-controller .btn-done {
  background-color: green;
}

.task-controller .btn-delete:hover {
  background-color: rgb(182, 0, 0);
}
.task-controller .btn-edit:hover {
  background-color: rgb(0, 0, 175);
}
.task-controller .btn-done:hover {
  background-color: green;
}
.list-tasks-done .task-controller .btn-done:hover {
  background-color: rgb(1, 85, 1);
}

.btn-complete-todo {
  padding: 20px;
  background-color: green;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.btn-complete-todo:hover {
  background-color: rgb(0, 94, 0);
}
.btn-complete-todo i {
  margin-left: 10px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 99px;
  transition: 0.2s linear;
}
.text-find {
  background-color: rgb(155, 255, 222);
  color: #080808;
  font-weight: 800;
}
.list-tasks-done {
  margin-top: 20px;
  flex-direction: column;
  row-gap: 20px;
  display: none;
}
.btn-complete-todo.click i {
  transform: rotate(90deg);
}
.list-tasks-done.click {
  display: flex;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 10px;
  visibility: hidden;
}
.popup input {
  width: 400px;
}
.popup button {
  width: 80px;
  height: 40px;
  border-radius: 4px;
}
.popup .btn-groups {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
.popup .btn-groups .btn-save {
  background-color: green;
}
.popup .btn-groups .btn-cancel {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
.popup .btn-groups .btn-save:hover {
  background-color: rgb(0, 80, 0);
}
.popup .btn-groups .btn-cancel:hover {
  background-color: rgb(136, 136, 136);
}
.overlay {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  inset: 0;
  z-index: 10;
  visibility: hidden;
}

.active {
  visibility: visible;
}
